@{
    ViewData["Title"] = "Register/Login";
}
<div class="row">
    <div class="col col-md-6">
        <partial name="RegisterPartial"></partial>
    </div>
    <div class="col col-md-6">
        <partial name="LoginPartial"></partial>
    </div>
</div>