@{
    ViewData["Title"] = "Register/Login";
}
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h2 class="text-center">Register</h2>
            <partial name="RegisterPartial"></partial>
        </div>
        <div class="col col-md-6">
            <h2 class="text-center">Login</h2>
            <partial name="LoginPartial"></partial>
        </div>
    </div>
</div>
