@{
    ViewData["Title"] = "Orders";
}
orders page goes here!
@{
    foreach(var order in ViewBag.User)
    {
        <hr>
        foreach(var item in order)
        {
            <p>@item.Product.Title</p>
            <p>@item.Product.Description</p>
        }
    }
}