@{
    ViewData["Title"] = "About Us";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script type="text/javascript">
			function showHideDiv(ele) {
				var srcElement = document.getElementsByClassName(ele);
                var i;
                for(i=0;i<srcElement.length; i++)
                {
                    if (srcElement[i] != null) {
                        if (srcElement[i].style.display == "block") {
                            srcElement[i].style.display = 'none';
                        }
                        else {
                            srcElement[i].style.display = 'block';
                        }
                    }
                }
                        return false;
			}
		</script>
<h1 class="text-center" style="font-weight:200;font-size: 8vh;">About us? We are awesome, end of story.</h1>
<div class="container">
        <div class="thanksss" style="display: none; text-align: center;">
                <h1>Thanks Devon for all your help this month!!! YOU ROCK</h1>
                <img style="align-content: center;"src="https://www.photofunny.net/images/201908/30/final_1608199678178327181_origen.jpg.gif?act=54" alt="">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
    <div class="thanksss" style="display: block;">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center">Mr. Tony</h2>
            </div>
            <div class="col-6">
                <h2 class="text-center">Mr. Adam</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <div style="display:inline-block;background-color:red;"><h1 style="font-size:3em;">Mr Devon</h1><small></small>↓↓ click the logo ↓↓</div><br><br><br><br>
            <input type="image" src="~/images/agt_logo.png" style="width: 300px;" onClick="showHideDiv('thanksss')"/><br>
            
        </div>
    </div>
</div>