@{
    ViewData["Title"] = "Home Page";
}

<!-- div with an image as a background -->
<div id="#gallery gallery">
    <h1 class="text-center"><a href="/gallery">View Gallery</a></h1>
</div>

<!-- div with an image as a background -->
<a href="/store"><h1 class="text-center">Price & Detail</h1></a>

<!-- div with an image as a background -->
<a href="/aboutus"><h1 class="text-center">About us</h1></a>
